# Python related files
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.pyc
.Python

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# FastAPI
*.log
*.sqlite3
*.db

# project specific
.env